/* .custom-carousel{
    position: relative;
    margin-top: 21% !important;
}

.custom-carousel .owl-theme .owl-nav .owl-prev{
        position: absolute;
        left: 0;
        top: 25px;
        background: none;
       
       

}

.custom-carousel .owl-theme .owl-nav .owl-next{
    position: absolute;
    right: 0;
    top: 25px;
    background: none;

}
.custom-carousel .owl-theme .owl-nav{
    display: block !important;
    
    
}

.custom-carousel .owl-theme .owl-dots{
    display: block !important;
}


.custom-carousel .owl-theme .owl-dots .owl-dot.active span {
    background: #2caae1;
    width: 30px;
    border-radius: 2px;
    height: 9px;
}

.custom-carousel .owl-theme .owl-dots .owl-dot span {

    width: 20px;
    border-radius: 2px;
    height: 9px;
}


.owl-carousel .owl-item img{
    width: 50% ;
    padding:0px 0px 11px 70px;
} */

/* .css-1d75ois-MuiTypography-root{
    font-size: 15px;
    font-weight: 400;
    padding: 0px 30px 0px 0px;
} */